<a href="https://colab.research.google.com/github/aroosax/Python/blob/main/Python_beginner_syntax_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionaries Practice

In [30]:
# Practicing dictionaries
dict_cream = {'name':'Aroosa Nasir', 'Weekly Intake': 5,'Favourite ice-cream':['mango','chocolate']}

In [3]:
# print the type
type(dict_cream)

dict

In [4]:
# print the dictionary
print(dict_cream)

{'name': 'Aroosa Nasir', 'Weekly Intake': 5, 'Favourite ice-cream': ['mango', 'chocolate']}

In [6]:
# printing the values of the dictionary
dict_cream.values()

dict_values(['Aroosa Nasir', 5, ['mango', 'chocolate']])

In [8]:
#printing the keys of the dictionary
dict_cream.keys()

dict_keys(['name', 'Weekly Intake', 'Favourite ice-cream'])

In [9]:
#printing the items of the dictionary
dict_cream.items()

dict_items([('name', 'Aroosa Nasir'), ('Weekly Intake', 5), ('Favourite ice-cream', ['mango', 'chocolate'])])

In [20]:
#printing any one value from the dictionary
dict_cream['name']

'Aroosa Nasir'

In [21]:
#printing multiple values from the dictionary
print(dict_cream['name'])
print(dict_cream['Weekly Intake'])

Aroosa Nasir
5

In [23]:
# making any change into the dictionary
dict_cream['name'] = 'Abdullah Nasir'
print(dict_cream)

{'name': 'Abdullah Nasir', 'Weekly Intake': 5, 'Favourite ice-cream': ['mango', 'chocolate']}

In [25]:
#Updating the dictionary
dict_cream.update({'name':'Aroosa Nasir', 'Weekly Intake': 4,'Weight': 47})
print(dict_cream)

{'name': 'Aroosa Nasir', 'Weekly Intake': 4, 'Favourite ice-cream': ['mango', 'chocolate'], 'Weight': 47}

In [26]:
# deleting anything from the dictionary it can also delete the complete dictionary
del dict_cream['Weight']
print(dict_cream)

{'name': 'Aroosa Nasir', 'Weekly Intake': 4, 'Favourite ice-cream': ['mango', 'chocolate']}

In [27]:
#loop uisng dictionary
for key, value in dict_cream.items():
    print(f"{key}: {value}")

name: Aroosa Nasir
Weekly Intake: 4
Favourite ice-cream: ['mango', 'chocolate']

In [28]:
# pop something from the list
dict_cream.pop('name')
print(dict_cream)

{'Weekly Intake': 4, 'Favourite ice-cream': ['mango', 'chocolate']}

In [29]:
# clear function clears all the things in a dictionary
dict_cream.clear()
print(dict_cream)

{}

In [32]:
# using loops in a dictionary it prints all the keys
for x in dict_cream:
  print(x)

name
Weekly Intake
Favourite ice-cream

In [33]:
# printing the values
for x in dict_cream:
  print(dict_cream[x])

Aroosa Nasir
5
['mango', 'chocolate']

In [34]:
#printing the values using a loop for a dictionary
for x in dict_cream.values():
  print(x)

Aroosa Nasir
5
['mango', 'chocolate']

In [35]:
#printing the keys using a loop
for x in dict_cream.keys():
  print(x)

name
Weekly Intake
Favourite ice-cream

In [36]:
#printing the items(key,value) uusing a loop
for x in dict_cream.items():
  print(x)

('name', 'Aroosa Nasir')
('Weekly Intake', 5)
('Favourite ice-cream', ['mango', 'chocolate'])

In [37]:
# copying a dictionary
mydict = dict_cream.copy() # you can also use mydict = dict(dict_cream) and coppy the dictionary
print(mydict)

{'name': 'Aroosa Nasir', 'Weekly Intake': 5, 'Favourite ice-cream': ['mango', 'chocolate']}

# From here we have nested dictionaries

In [39]:
# nested dictionary
myfamily = {
    "child1": {
        "name": "Simran",
        "year": "1999"
    },
    "child2": {
        "name": "Ali",
        "year": 2002
    },
    "child3": {
        "name": "Noor",
        "year": "2001"
    }
}
print(myfamily)

{'child1': {'name': 'Simran', 'year': '1999'}, 'child2': {'name': 'Ali', 'year': 2002}, 'child3': {'name': 'Noor', 'year': '2001'}}

In [42]:
# creating 3 dictionaries and then merging them into one
child1 = {
    "name": "Simran",
     "year": "1999"
}
child2 = {
    "name": "Ali",
    "year": 2002
}
child3 = {
     "name": "Noor",
      "year": "2001"
}

myfamily = {
    "child1": child1,
    "child2": child2,
    "child3": child3
}
print(myfamily)

{'child1': {'name': 'Simran', 'year': '1999'}, 'child2': {'name': 'Ali', 'year': 2002}, 'child3': {'name': 'Noor', 'year': '2001'}}

In [43]:
#accessing anything from the nested list
print(myfamily['child2']['name'])

Ali

In [47]:
# looping through all the keys and values from the nested dictionaries
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Simran
year: 1999
child2
name: Ali
year: 2002
child3
name: Noor
year: 2001

# OOP starts here

In [48]:
# create a class
class myclass:
  x = 5

In [49]:
# creating an object
p1 = myclass()
print(p1.x)

5

In [51]:
# using the _init_() method
class person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

p1 = person('Aroosa',24)
print(p1.name)
print(p1.age)

Aroosa
24

In [52]:
# The string representation of an object WITHOUT the __str__() method
class person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

p1 = person('Aroosa',24)
print(p1)

<__main__.person object at 0x7edcae757d90>

In [56]:
# now with the string method
class person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def __str__(self):
      return f"{self.name}({self.age})"

p1 = person("Aroosa",24)

print(p1)

Aroosa(24)

In [59]:
# a function that greets someone
class person:
  def __init__(self,name,age):
    self.name = name
    self.age = age

  def myfunc(self):
      print("Hello my name is " + self.name)

p1 =person("Aroosa",24)
p1.myfunc()

Hello my name is Aroosa

In [62]:
# using anything else than self word
class person:
  def __init__(mysillyobject, name, age):
    mysillyobject.name = name
    mysillyobject.age = age

  def myfunc(abc):
    print("Hello my name is "+ abc.name)

p1 = person("Aroosa",24)
p1.myfunc()

Hello my name is Aroosa

In [66]:
# modify things like below
p1.age = 40
print(p1.name,p1.age)

Aroosa 40

In [68]:
# deleting the age property from p1 object
del p1.age
print(p1.age)

AttributeError: 'person' object has no attribute 'age'

In [70]:
# deleting the p1 object
del p1