<a href="https://colab.research.google.com/github/aroosax/Python/blob/main/Python_beginner_syntax_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python syntax practice for beginners

In [ ]:
# Learning input and string
name = input("what is your name ")
print("My name is ",name,"hello!");

what is your name Aroosa
My name is  Aroosa hello!

In [ ]:
# Learning about variables and how to assign them values
s = "Bob"
print(s)

a = "Aroosa"
age = 24
city = "Rawalpindi"
print(a,age,city)

Bob
Aroosa 24 Rawalpindi

In [ ]:
# using the split function
x,y = input("Enter two values").split()
print("Enter number of boys =",x)
print("Enter number of girls =",y)

x,y,z = input("Enter three values").split()
print("Enter number of total students",x)
print("Enter number of boys",y)
print("Enter number of girls",z)

Enter two values1 2
Enter number of boys = 1
Enter number of girls = 2
Enter three values1 2 3
Enter number of total students 1
Enter number of boys 2
Enter number of girls 3

In [ ]:
# learning if, elif,elseif and else
age_input = input("Enter your age =")
age = int(age_input)

if age < 0:
        print("Please enter valid age.")
elif age < 18:
        print("You are a minor")
elif age >= 18 and age < 60:
        print("You are an adult")
else:
        print("You are a senior citizen")

Enter your age =17
You are a minor

In [ ]:
# determining color of the rose
color = input("what color is rose ")
print(color)
# determining number of roses
number = int(input("How many number of roses"))
print(number)

what color is rose red
red
How many number of roses4
4

In [ ]:
#Learning about data types
price = float(input("Enter the price of rose "))
print(price)

Enter the price of rose 22.10
22.1

In [ ]:
# Thiis is how to find datatypes of variables
a = "Hello Wolrd"
b = 10
c = 11.22
d = ("Geeks","for","Geeks")
e = ["Geeks","for","Geeks"]
f = {"Geeks":1,"for":2,"Geeks":3}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [ ]:
# Learning how to use f in printing
amount = 150.12
print("amout $",amount)

name = "Aroosa"
age = 24
print(f"Hello! My name is {name} and I'm {age} years old")

amout $ 150.12
Hello! My name is Aroosa and I'm 24 years old

In [ ]:
# changing the datatype of a variable
a = "5"
b = int(a)
print(b +2)

7

In [ ]:
# Learning about if else
marks = int(input("Enter your marks"))
if marks >= 90:
          print("Your Grade is A")
elif marks >= 75:
          print("Your Grade is B")
else:
          print("You need to improve your grades")

Enter your marks92
Your Grade is A

In [ ]:
#slicing example
text = "AROOSANASIR"
print(text[2])
print(text[10])
#omitting start or end
print(text[:2])
print(text[4:])
# using step
print(text[::2])
# reversing the string
print(text[::-1])

O
R
AR
SANASIR
AOSNSR
RISANASOORA

In [ ]:
#for loop
for i in range(5):
  print(i)
# for loop example 2
integers = [1,2,3,4,5]
for numbers in integers:
  print(numbers)
# we can also use something else to print
integers = [1,2,3,4,5]
for number in integers:
  print('yep!')

0
1
2
3
4
1
2
3
4
5
yep!
yep!
yep!
yep!
yep!

In [ ]:
# for loop another example
integers = [1,2,3,4,5]
for i in integers:
    print(i+i)

2
4
6
8
10

In [ ]:
# for loop in dictionary
ice_cream_dict = {'name': 'Aroosa Nasir', 'weekly intake': 5, 'Favourite icecreams': ['mango','Kulfa']}
for cream in ice_cream_dict.values():
    print(cream)

Aroosa Nasir
5
['mango', 'Kulfa']

In [ ]:
# for loop in dictionary for key abd value bith
ice_cream_dict = {'name': 'Aroosa Nasir', 'weekly intake': 5, 'Favourite icecreams': ['mango','Kulfa']}
for key,value in ice_cream_dict.items():
    print(key, "=",value)

name = Aroosa Nasir
weekly intake = 5
Favourite icecreams = ['mango', 'Kulfa']

In [ ]:
# nested for loop
flavour = ['Mango','Pista','Chocolate']
toppings = ['sprinkles','Hot fudge','Marshmellows']
for one in flavour:
  for two in toppings:
      print(one, 'with toppings',two)

Mango with toppings sprinkles
Mango with toppings Hot fudge
Mango with toppings Marshmellows
Pista with toppings sprinkles
Pista with toppings Hot fudge
Pista with toppings Marshmellows
Chocolate with toppings sprinkles
Chocolate with toppings Hot fudge
Chocolate with toppings Marshmellows

In [ ]:
# for loops learned in class
for char in "Aroosa":
    print(char)
#loop 2
for char in "AroosaNasir":
    if char == 'a':
        print(char)

A
r
o
o
s
a
a
a

In [ ]:
#while loop
number = 0
while number <=5:
      print(number)
      number = number+ 1

0
1
2
3
4
5

In [ ]:
# while loop with break statement
number = 0
while number <=5:
    print(number)
    if number == 3:
      break
    number = number + 1

0
1
2
3

In [ ]:
#else if statement in while loop
i = 0
while i in range(10):
    print(i)
    if i == 5:
      break
    i = i + 1
else:
    print("Number is out of range")

0
1
2
3
4
5

In [ ]:
# continue statement in while loop
i = 0
while i in range(10):
    i = i+1
    if i == 11:
      continue
    print(i)
else:
    print("Number is out of range")

1
2
3
4
5
6
7
8
9
10
Number is out of range

In [ ]:
# break statement in for loop
for i in range(10):
  if i == 5:
    break # break the loop when it reaches 5
  print(i)
 # break statement in for loop
for i in range(10):
  if i == 5:
    continue # skip printing and go to the next number
  print(i)
  # pass statement in for loop
for i in range(10):
  if i == 5:
    pass # pass is a placeholder which does nothing
  print(i)

0
1
2
3
4
0
1
2
3
4
6
7
8
9
0
1
2
3
4
5
6
7
8
9

Learning about functions

In [2]:
#defining a function
def first_funct():
  print('We did it!')
# calling a function
first_funct()

We did it!

In [3]:
# passing an argument into the function
def square_root(number):
  print(number**2)

In [4]:
#calling the function
square_root(5)

25

In [5]:
# passing multiple arguments into the function
def square_root_custom(number,power):
  print(number**power)

In [6]:
#calling the function
square_root_custom(5,3)

125

In [12]:
# arbituary functions
args_tuple = (5,6,4,3,2)
def num_args(*number):
  print(number[0]*number[1])

In [16]:
#calling the function
num_args(*args_tuple) #these are both ways to call the function
num_args(5,6,4,3,2)

30
30

In [18]:
#keyword argument function
def square_root_custom(number,power):
  print(number**power)

In [19]:
#calling the function
square_root_custom(power = 5,number = 3)

243

In [22]:
# arbitary keyword arguments functions
def number_kwargs(**number):
  print('My number is :'+ number['integer'], 'My other number is:'+number['integer2'])

In [23]:
#calling function
number_kwargs(integer = '2309', integer2 = '368')

My number is :2309 My other number is:368

Function practice done in class

In [24]:
# defining a function
def greet():
  print('Hello! welcome to our python class.')

In [28]:
#function syntax
def add(a,b):
  print(a+b)

In [29]:
#callint the functions
greet()
results = add(4,5)
print(results)

Hello! welcome to our python class.
9
None

In [30]:
# a new function t0 introduce yourself
def introduction(name,age):
  print(f"My name is {name} and i am {age} years old")

In [33]:
#calling the function
introduction("Aroosa",24)

My name is Aroosa and i am 24 years old

In [39]:
#return statement
def square(x):
 print(x*x)

In [41]:
#calling the function
square(6)

36

In [42]:
#print inside function
def test_scope():
    x = 10
    print("Inside function:", x)

test_scope()

Inside function: 10

In [45]:
#global variable and local variable
global_var = "I am a global variable"
def check_scope():
  local_var = "I am a local variable"
  print(global_var)
  print(local_var)
check_scope()

I am a global variable
I am a local variable

In [47]:
#user defined functions
def multiply(x,y):
  return x*y
  #print(x*y)
#calling the function
multiply(5,10)

50

In [48]:
#default arguments functions
def greet_user(name = "guest"):
  print(f"Hello, {name}")
#calling function
greet_user("Aroosa Nasir")
greet_user()

Hello, Aroosa Nasir
Hello, guest