<a href="https://colab.research.google.com/github/aroosax/Python/blob/main/Python_beginner_syntax_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python syntax practice for beginners

In [ ]:
# Learning input and string
name = input("what is your name ")
print("My name is ",name,"hello!");

what is your name Aroosa
My name is  Aroosa hello!

In [ ]:
# Learning about variables and how to assign them values
s = "Bob"
print(s)

a = "Aroosa"
age = 24
city = "Rawalpindi"
print(a,age,city)

Bob
Aroosa 24 Rawalpindi

In [ ]:
# using the split function
x,y = input("Enter two values").split()
print("Enter number of boys =",x)
print("Enter number of girls =",y)

x,y,z = input("Enter three values").split()
print("Enter number of total students",x)
print("Enter number of boys",y)
print("Enter number of girls",z)

Enter two values1 2
Enter number of boys = 1
Enter number of girls = 2
Enter three values1 2 3
Enter number of total students 1
Enter number of boys 2
Enter number of girls 3

In [ ]:
# learning if, elif,elseif and else
age_input = input("Enter your age =")
age = int(age_input)

if age < 0:
        print("Please enter valid age.")
elif age < 18:
        print("You are a minor")
elif age >= 18 and age < 60:
        print("You are an adult")
else:
        print("You are a senior citizen")

Enter your age =17
You are a minor

In [ ]:
# determining color of the rose
color = input("what color is rose ")
print(color)
# determining number of roses
number = int(input("How many number of roses"))
print(number)

what color is rose red
red
How many number of roses4
4

In [ ]:
#Learning about data types
price = float(input("Enter the price of rose "))
print(price)

Enter the price of rose 22.10
22.1

In [ ]:
# Thiis is how to find datatypes of variables
a = "Hello Wolrd"
b = 10
c = 11.22
d = ("Geeks","for","Geeks")
e = ["Geeks","for","Geeks"]
f = {"Geeks":1,"for":2,"Geeks":3}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

In [ ]:
# Learning how to use f in printing
amount = 150.12
print("amout $",amount)

name = "Aroosa"
age = 24
print(f"Hello! My name is {name} and I'm {age} years old")

amout $ 150.12
Hello! My name is Aroosa and I'm 24 years old

In [ ]:
# changing the datatype of a variable
a = "5"
b = int(a)
print(b +2)

7

In [ ]:
# Learning about if else
marks = int(input("Enter your marks"))
if marks >= 90:
          print("Your Grade is A")
elif marks >= 75 and marks < 90:
          print("Your Grade is B")
else:
          print("You need to improve your grades")

Enter your marks89
Your Grade is B

In [ ]:
#slicing example
text = "AROOSANASIR"
print(text[2])
print(text[10])
#omitting start or end
print(text[:2])
print(text[4:])
# using step
print(text[::2])
# reversing the string
print(text[::-1])

O
R
AR
SANASIR
AOSNSR
RISANASOORA

In [ ]:
#for loop
for i in range(5):
  print(i)
# for loop example 2
integers = [1,2,3,4,5]
for numbers in integers:
  print(numbers)
# we can also use something else to print
integers = [1,2,3,4,5]
for number in integers:
  print('yep!')

0
1
2
3
4
1
2
3
4
5
yep!
yep!
yep!
yep!
yep!

In [ ]:
# for loop another example
integers = [1,2,3,4,5]
for i in integers:
    print(i+i)

2
4
6
8
10

In [ ]:
# for loop in dictionary
ice_cream_dict = {'name': 'Aroosa Nasir', 'weekly intake': 5, 'Favourite icecreams': ['mango','Kulfa']}
for index,(cream) in enumerate(ice_cream_dict.values(),start=1): #enumerate() lets you loop through a list and get the index with each item.
    print(f"{index}.{cream}")

1.Aroosa Nasir
2.5
3.['mango', 'Kulfa']

In [ ]:
# for loop in dictionary for key abd value bith
ice_cream_dict = {'name': 'Aroosa Nasir',
                  'weekly intake': 5,
                  'Favourite icecreams': ['mango','Kulfa']}
for index,(key,value) in enumerate(ice_cream_dict.items(), start=1): #enumerate() lets you loop through a list and get the index with each item.
    #print(key, "=",value)
    print(f"{index}. {key} = {value}")

1. name = Aroosa Nasir
2. weekly intake = 5
3. Favourite icecreams = ['mango', 'Kulfa']

In [ ]:
# nested for loop
flavour = ['Mango','Pista','Chocolate']
toppings = ['sprinkles','Hot fudge','Marshmellows']
for index,(one) in enumerate(flavour,start=1): #enumerate() lets you loop through a list and get the index with each item.
  for index,(two) in enumerate(toppings,start=1):
      print(f"{index}.{one}, 'with toppings',{two}")

1.Mango, 'with toppings',sprinkles
2.Mango, 'with toppings',Hot fudge
3.Mango, 'with toppings',Marshmellows
1.Pista, 'with toppings',sprinkles
2.Pista, 'with toppings',Hot fudge
3.Pista, 'with toppings',Marshmellows
1.Chocolate, 'with toppings',sprinkles
2.Chocolate, 'with toppings',Hot fudge
3.Chocolate, 'with toppings',Marshmellows

In [ ]:
# for loops learned in class
for char in "Aroosa":
    print(char)
#loop 2
for name in "AroosaNasir":
    print(name.count('a'))

A
r
o
o
s
a
0
0
0
0
0
1
0
1
0
0
0

In [ ]:
name = "AroosaNasir"
print(name.count('a'))   # Counts lowercase 'a'

2

In [ ]:
#while loop
number = 0
while number <=5:
      print(number)
      number = number+ 1

0
1
2
3
4
5

In [ ]:
# while loop with break statement
number = 0
while number <=5:
    print(number)
    if number == 3:
      break
    number = number + 1

0
1
2
3

In [ ]:
#else if statement in while loop
i = 0
while i in range(10):
    print(i)
    if i == 5:
      break
    i = i + 1
else:
    print("Number is out of range")

0
1
2
3
4
5

In [ ]:
# continue statement in while loop
i = 0
while i in range(10):
    i = i+1
    if i == 11:
      continue
    print(i)
else:
    print("Number is out of range")

1
2
3
4
5
6
7
8
9
10
Number is out of range

In [ ]:
# break statement in for loop
print("break statement")
for i in range(10):
  if i == 5:
    break # break the loop when it reaches 5
  print(i)
 # continue statement in for loop
print("Continue statement")
for i in range(10):
  if i == 5:
    continue # skip printing and go to the next number
  print(i)
  # pass statement in for loop
print("Pass statement")
for i in range(10):
  if i == 5:
    pass # pass is a placeholder which does nothing
  print(i)

break statement
0
1
2
3
4
Continue statement
0
1
2
3
4
6
7
8
9
Pass statement
0
1
2
3
4
5
6
7
8
9

Learning about functions

In [ ]:
#defining a function
def first_funct():
  print('We did it!')
# calling a function
first_funct()

We did it!

In [1]:
# passing an argument into the function
def square(number):
  print(number**2)

In [2]:
#calling the function
square(5)

25

In [3]:
# passing multiple arguments into the function
def square_custom(number,power):
  print(number**power)

In [4]:
#calling the function
square_custom(5,3)

125

In [ ]:
# arbituary functions
args_tuple = (5,6,4,3,2)
def num_args(*number):
  print(number[0]*number[1])

In [ ]:
#calling the function
num_args(*args_tuple) #these are both ways to call the function
num_args(5,6,4,3,2)

30
30

In [5]:
#keyword argument function
def square_custom(number,power):
  print(number**power)

In [6]:
#calling the function
square_custom(power = 5,number = 3)

243

In [ ]:
# arbitary keyword arguments functions
def number_kwargs(**number):
  print('My number is :'+ number['integer'], 'My other number is:'+number['integer2'])

In [ ]:
#calling function
number_kwargs(integer = '2309', integer2 = '368')

My number is :2309 My other number is:368

Function practice done in class

In [ ]:
# defining a function
def greet():
  print('Hello! welcome to our python class.')

In [ ]:
#function syntax
def add(a,b):
  print(a+b)

In [ ]:
#callint the functions
greet()
results = add(4,5)
print(results)

Hello! welcome to our python class.
9
None

In [ ]:
# a new function t0 introduce yourself
def introduction(name,age):
  print(f"My name is {name} and i am {age} years old")

In [ ]:
#calling the function
introduction("Aroosa",24)

My name is Aroosa and i am 24 years old

In [ ]:
#return statement
def square(x):
 print(x*x)

In [ ]:
#calling the function
square(6)

36

In [ ]:
#print inside function
def test_scope():
    x = 10
    print("Inside function:", x)

test_scope()

Inside function: 10

In [ ]:
#global variable and local variable
global_var = "I am a global variable"
def check_scope():
  local_var = "I am a local variable"
  print(global_var)
  print(local_var)
check_scope()

I am a global variable
I am a local variable

In [ ]:
#user defined functions
def multiply(x,y):
  return x*y
  #print(x*y)
#calling the function
multiply(5,10)

50

In [ ]:
#default arguments functions
def greet_user(name = "guest"):
  print(f"Hello, {name}")
#calling function
greet_user("Aroosa Nasir")
greet_user()

Hello, Aroosa Nasir
Hello, guest

In [ ]:
#keyword arguments
def student_info(name,age,course):
  print(f"Name:{name},Age:{age},Course:{course}")
#calling the function
student_info(name = "Aroosa Nasir",age = 24, course = "Python")

Name:Aroosa Nasir,Age:24,Course:Python

In [ ]:
#Variable length arguments
#using *args
def total_marks(*marks):
  print(f"Marks received:{marks}")
  print(f"Total={sum(marks)}")
#calling the function
total_marks(50,90,96)

Marks received:(50, 90, 96)
Total=236

In [ ]:
#using **kwargs
def student_profile(**info):
  for key,value in info.items():
    print(f"{key}:{value}")
#calling function
student_profile(name = "Aroosa Nasir",age = 24, course = "Python")

name:Aroosa Nasir
age:24
course:Python

# Lists in Python

In [7]:
#initializing a list
empty_list = []
numbers = [1,2,6,5,4,7,9,10,8,15,14,11,12]
mixed = ['Apple',10,12.8,True]
Nested_list = [[1,2],[3,4]]

In [26]:
#accessing the elements in a list
my_list = ['a','b','c','d']
print(my_list[0])
print(my_list[-1])
print(my_list[::-1]) # Reversing the list

a
d
['d', 'c', 'b', 'a']

In [11]:
#Modifying the list
my_list[1] = 'z'
print(my_list)

['a', 'z', 'c', 'd']

In [12]:
#printing the list
my_list

['a', 'z', 'c', 'd']

# Operations and methods performed on lists

In [18]:
# 1 append() -- Add to end
my_list.append('e')
my_list

['a', 'b', 'c', 'd', 'e']

In [19]:
# 2 insert(index,value) -- insert at index
my_list.insert(2,'x')
my_list

['a', 'b', 'x', 'c', 'd', 'e']

In [21]:
# 3 extend(iterable) -- add multiple elements
my_list.extend(['f','g']) # since we will be adding multiple elements we use square brackets around them
my_list

['a', 'b', 'x', 'c', 'd', 'e', 'f', 'g']

In [22]:
# 4 remove(value) -- removes first match from the list
my_list.remove('f')
my_list

['a', 'b', 'x', 'c', 'd', 'e', 'g']

In [23]:
# 5 pop(index) --  removes by index last value by default
my_list.pop()
my_list

['a', 'b', 'x', 'c', 'd', 'e']

In [24]:
# 6 clear() -- empty the list
my_list.clear()
my_list

[]

In [28]:
# 7 index(value) -- get the index value of the first match in the list
my_list.index('a')

0

In [29]:
# 8 count(value) -- counts occurences of any element in the list
my_list.count('a')

1

In [30]:
# 9 sort() -- sorts the values in the list
numbers.sort()
numbers

[1, 2, 4, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15]

In [31]:
# 10 reverse() -- reverses the order of the list
numbers.reverse()
numbers

[15, 14, 12, 11, 10, 9, 8, 7, 6, 5, 4, 2, 1]

In [32]:
# 11 copy() -- creates shallow copy of the list
new_list = my_list.copy()
new_list

['a', 'b', 'c', 'd']

In [33]:
# 11 looping through a list
for i in my_list:
  print(i)

a
b
c
d

In [36]:
# 12 Enumerate with index
for index,i in enumerate(my_list, start = 1):
  print(index,i)

1 a
2 b
3 c
4 d

In [37]:
# 13 List comprehensions
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [40]:
# 13.1 List comprehensions
even_squares = [x**2 for x in range(10) if x%2 == 0]
even_squares

[0, 4, 16, 36, 64]

# Tuples in Python
What is a Tuple?
A tuple is similar to a list, but it is immutable – you cannot add, remove, or modify elements.

In [2]:
#Tuple syntax
my_tuple = (item1, item2, item3)

In [4]:
#Examples
empty_tuple = ()
single = (5,)
mixed_tuple = ("Apple",1 ,2.5 , True)

In [8]:
# accessing the tuple
my_tuple = ("a","b","c","d")
print(my_tuple[0])
print(my_tuple[-1])

a
d

In [10]:
#tuple immutability
my_tuple[1] = "z"

TypeError: 'tuple' object does not support item assignment

# Tuple Methods

In [12]:
# 1 count(value) -- counts the occurences
my_tuple.count("a")

1

In [13]:
# 2 index(value) -- index of value
my_tuple.index("d")

3

In [19]:
# conversion
# list to tuple
my_list = [1,2,3]
my_tuple = tuple(my_list)

In [22]:
# tuple to list
my_tuple = (1,2,3)
my_list = list(my_tuple)

# Intermediate list techniques

In [24]:
# Nested list access
matrix = [[1,2],[3,4]]
print(matrix[1][0])
print(matrix[0][1])

3
2

In [26]:
# unpacking list and tuples
a,b,c = (1,2,3)
print(a)
print(b)
c

1
2

3

In [29]:
# slicing
my_list = [0,1,2,3,4]
print(my_list[1:4])
print(my_list[::-1])

[1, 2, 3]
[4, 3, 2, 1, 0]

In [30]:
# checking membership
"apple" in ["banana","apple","mango"]

True

# Practice Challenge

In [38]:
# 1 Create a list with 5 favorite movies. Add one, remove one, and sort the list.
favourite_movies = ["Titanic","Jurassic Park","Harry potter","Legend's of the blue sea","Our Blues"]
favourite_movies.append("Narnia")
favourite_movies

['Titanic',
 'Jurassic Park',
 'Harry potter',
 "Legend's of the blue sea",
 'Our Blues',
 'Narnia']

In [39]:
# using remove function
favourite_movies.remove("Titanic")
favourite_movies

['Jurassic Park',
 'Harry potter',
 "Legend's of the blue sea",
 'Our Blues',
 'Narnia']

In [40]:
# using sort function
favourite_movies.sort()
favourite_movies

['Harry potter',
 'Jurassic Park',
 "Legend's of the blue sea",
 'Narnia',
 'Our Blues']

In [44]:
# 2 Create a tuple of student info (name, age, grade). Try modifying it.
student_info = ("Aroosa", 24, "A+")
student_info[2] = 35 # tuple is immutable so we cannot modify it for modifyin it we need to convert it into list which we will see in next question

TypeError: 'tuple' object does not support item assignment

In [47]:
# 3 Convert a list of numbers to a tuple and back.
# list to tuple
numbers = [0,1,2,3,4,5]
my_tuple = tuple(numbers)
my_tuple

(0, 1, 2, 3, 4, 5)

In [48]:
# tuple to list
my_tuple = (0,1,2,3,4,5)
numbers = list(my_tuple)
numbers

[0, 1, 2, 3, 4, 5]

In [49]:
# 4 Create a nested list representing a 3x3 matrix and access center element.
matrix = [[1,2,3],[4,5,6],[7,8,9]]
print(matrix[1][1])

5

In [52]:
# 5 Write a list comprehension to create a list of odd numbers from 1 to 21.
odd_numbers =  [x for x in range(21) if x % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# Practice questions for lists

In [1]:
# 1 Create a list of 5 integers and print it.
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [2]:
# 2 Access the third element of the list [10, 20, 30, 40, 50].
my_list = [10,20,30,40,50]
print(my_list[2])

30

In [3]:
# 3 Change the second item in a list [1, 2, 3, 4] to 10.
my_list = [1,2,3,4]
my_list[1] = 10
print(my_list)

[1, 10, 3, 4]

In [4]:
# 4 Append the number 99 to a list [1, 2, 3].
my_list = [1,2,3]
my_list.append(99)
print(my_list)

[1, 2, 3, 99]

In [5]:
# 5 Insert the number 25 at index 2 in the list [10, 20, 30, 40].
my_list = [10,20,30,40]
my_list[2] = 25
print(my_list)

[10, 20, 25, 40]

In [6]:
# 6 Remove the value 3 from the list [1, 2, 3, 4, 5].
numbers = [1,2,3,4,5]
numbers.remove(2)
print(numbers)

[1, 3, 4, 5]

In [7]:
# 7 Print the length of the list [5, 10, 15, 20].
len_list = [5,10,15,20]
print(len(len_list))

4

In [8]:
# 8 Sort the list [5, 2, 9, 1] in ascending order.
sort_list = [5,2,9,1]
sort_list.sort()
print(sort_list)

[1, 2, 5, 9]

In [9]:
# 9 Reverse the list [1, 2, 3, 4].
my_list = [1,2,3,4]
my_list.reverse()
print(my_list)

[4, 3, 2, 1]

In [10]:
# 10 Sum all the numbers in a list [10, 20, 30, 40].
my_list = [10,20,30,40]
sum_of_my_list = sum(my_list)
print(sum_of_my_list)

100

# Practice problems for tuples

In [11]:
# 1 Create a tuple of 3 colors and print it.
my_colors = ("Blue","Green","Yellow")
print(my_colors)

('Blue', 'Green', 'Yellow')

In [12]:
# 2 Access the second item in the tuple ('a', 'b', 'c').
my_tuple = ('a','b','c')
print(my_tuple[1])

b

In [15]:
# 3 Create a tuple with one item (value 5) and print its type.
my_tuple = (5,)
print(type(my_tuple))

<class 'tuple'>

In [16]:
# 4 Convert the tuple (1, 2, 3) to a list.
my_tuple = (1,2,3)
my_list = list(my_tuple)
print(my_list)

[1, 2, 3]

In [17]:
# 5 Check if "apple" exists in the tuple ("apple", "banana", "cherry").
my_tuple = ("apple","banana","cherry")
if "apple" in my_tuple:
  print("Apple exists in the tuple")
else:
  print("Apple does not exist in the tuple")

Apple exists in the tuple

In [18]:
# 6 Slice the tuple (10, 20, 30, 40, 50) to get (20, 30).
my_tuple = (10,20,30,40,50)
print(my_tuple[1:3])

(20, 30)

In [23]:
 # 7 Unpack the tuple (1, 2, 3) into three variables and print them.
numbers = (1,2,3)
a,b,c = numbers
print(a,b,c)

1 2 3

In [26]:
# 8 Loop through the tuple ("cat", "dog", "mouse") and print each item.
animals = ("Cat","Dog","Mouse")
for i in animals:
  print(i)

Cat
Dog
Mouse

In [27]:
# 9 Concatenate two tuples: (1, 2) and (3, 4).
tuple1 = (1,2)
tuple2 = (3,4)
new_tuple = tuple1 + tuple2
print(new_tuple)

(1, 2, 3, 4)

In [28]:
# 10 Count how many times 2 appears in the tuple (1, 2, 3, 2, 4, 2).
my_tuple = (1,2,3,2,4,2)
print(my_tuple.count(2))

3

# Practice problems for Set's

In [31]:
# 1 Create a set of 4 numbers and print it.
my_set = {1,2,3,4}
print(type(my_set))
print(my_set)

<class 'set'>
{1, 2, 3, 4}

In [32]:
# 2 Add the number 10 to the set {1, 2, 3}.
my_set = {1,2,3}
my_set.add(10)
print(my_set)

{10, 1, 2, 3}

In [33]:
# 3 Remove the item 3 from the set {1, 2, 3, 4}.
my_set = {1,2,3,4}
my_set.remove(3)
print(my_set)

{1, 2, 4}

In [35]:
# 4 Find the union of {1, 2, 3} and {3, 4, 5}.
set1 = {1,2,3}
set2 = {3,4,5}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5}

In [36]:
# 5 Find the intersection of {1, 2, 3} and {2, 3, 4}.
set1 = {1,2,3}
set2 = {2,3,4}
set3 = set1.intersection(set2)
print(set3)

{2, 3}

In [37]:
# 6 Check if {1, 2} is a subset of {1, 2, 3}.
set1 = {1,2}
set2 = {1,2,3}
set3 = set1.issubset(set2)
print(set3)

True

In [38]:
# 7 Check if 5 is in the set {3, 4, 5}.
set1 = {3,4,5}
if 5 in set1:
  print("5 is in the set")
else:
  print("5 is not in the set")

5 is in the set

In [39]:
# 8 Create a set from the list [1, 2, 2, 3, 3, 3] and print it.
my_list = [1,2,2,3,3,3]
my_set = set(my_list)
print(my_set)

{1, 2, 3}

In [40]:
# 9 Clear all items from a set {1, 2, 3}.
set1 = {1,2,3}
set1.clear()
print(set1)

set()

In [41]:
# 10 Use a loop to print all items in the set {10, 20, 30}.
set1 = {10,20,30}
for i in set1:
  print(i)

10
20
30